/*****************************************************************************/
/* Custom CSS for I'm Power - Re-engaging Democracy - by Patrick Ford        */   
/* Loaded after the customized bootstrap.css which is built from LESS files. */
/*****************************************************************************/
@charset "UTF-8";

/***************************/
/* Bootstrap.css overrides */
/***************************/

h1 {
  color: red;
}
body {
  border-top: 70px; 
}

.brand-color {
	color: #70a8e0;
}

.grey-color {
	color: #666;
}

.alert-color {
	color: #cc0000;
}

.info-color {
	background-color: #ecf4fb;
}

.container {
	min-height: 400px;

}

a, a:link, a:visited {
	color: #003399;
	text-decoration: none;
}

/**********************************/
/* End of Bootstrap.css overrides */
/**********************************/

/* For Angular-UI Bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* Icon that shows availability of alternate view on phone devices based on orientation */
#rotate-phone {
	height: 25px;
	width: 25px;
}

.min-height-panel {
    min-height: 600px;
}

.min-height-panel {
    min-height: 600px;
}

/******************/
/* Helper Classes */
/******************/
.white-background {
	background-color: #ffffff;
}

.text-normal {
	font-weight: normal;
}

.section-divider {
	border-bottom: 1px solid #ddd;
	margin-top: 10px;
	margin-bottom: 10px;
}

.reduce-margin-top-5 {
	margin-top: -5px;
}
.remove-margin-top,
.remove-top-margin {
	margin-top: 0;
}
.remove-margin-bottom,
.remove-bottom-margin {
	margin-bottom: 0;
}

.add-radius {
	border-radius: 3px;
}

.add-border-right {
	border-right: 1px solid #ddd;
}

.add-border-left {
	border-left: 1px solid #ddd;
}

.add-border-bottom {
	border-bottom: 1px solid #ddd;
}
.add-margin-top-5,
.add-top-margin-5 {
	margin-top: 5px;
}
.add-margin-top-10,
.add-top-margin-10 {
	margin-top: 10px;
}
.add-margin-top-15,
.add-top-margin-15 {
	margin-top: 15px;
}
.add-margin-top-20,
.add-top-margin-20 {
	margin-top: 20px;
}
.add-margin-bottom-5,
.add-bottom-margin-5 {
	margin-bottom: 5px;
}
.add-margin-bottom-10,
.add-bottom-margin-10 {
	margin-bottom: 10px;
}
.add-margin-bottom-15,
.add-bottom-margin-15 {
	margin-bottom: 15px;
}

.add-margin-right-10 {
	margin-right: 10px;
}
.add-margin-left-10 {
	margin-left: 10px;
}
.add-padding-right-10 {
	padding-right: 10px;
}
.add-padding-left-10 {
	padding-left: 10px;
}
.add-padding-left-20 {
	padding-left: 20px;
}
.add-padding-left-30 {
	padding-left: 30px;
}
.remove-side-padding {
	padding-left: 0;
	padding-right: 0;
}
.remove-left-padding {
	padding-left: 0;
}
.remove-right-padding {
	padding-right: 0;
}

.unselectable {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	cursor: default;
}

/*************************/
/* End of Helper Classes */
/*************************/

/* Use hand pointer cursor for active controls */
.sortable, .selectable{
	cursor: pointer;
}

/**************************************************/
/* Conditional display of elements                */
/**************************************************/
@media screen {
	.print-only {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.phone-no {
		display: none !important;
	}
}

@media screen and (min-width: 768px) {
	.navbar-brand {
		display: none;
	}
	.phone-yes {
		display: none !important;
	}
	/* Adds vertical line separator on Health Info mega menu */
	.border-right {
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #e5e5e5;
	}
}

/* Conditional display of elements based on phone orientation */
@media screen and (max-width: 414px) and (orientation: portrait) {
	.landscape-only {
		display: none;
	}
}

@media screen and (min-width: 415px) and (orientation: landscape) {
	.portrait-only {
		display: none;
	}
}

/*******************************************************************/
/* Mega Menu Classes                                               */
/* Added for Mega Menu (from jsfiddle.net/apougher/ydcMQ/ example) */
/*******************************************************************/
.menu-large {
/*	position: static !important;
*/
	position: relative !important;
}

.megamenu{
	padding: 15px 0px;
  	width: 560px;
}
.megamenu> li > ul {
  	padding: 0;
  	margin: 0;
}
.megamenu> li > ul > li {
  	list-style: none;
}
.megamenu> li > ul > li > a {
  	display: block;
  	padding: 3px 15px;
  	clear: both;
  	font-weight: normal;
  	line-height: 1.428571429;
  	color: #333333;
  	white-space: normal;
}
.megamenu> li ul > li > a:hover,
.megamenu> li ul > li > a:focus {
  	text-decoration: none;
  	color: #262626;
  	background-color: #f5f5f5;
}
.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  	color: #999999;
}
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  	text-decoration: none;
  	background-color: transparent;
  	background-image: none;
  	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  	cursor: not-allowed;
}
.megamenu .dropdown-header {
  	color: #428bca;
  	font-size: 16px;
  	font-weight: bold;
  	padding-left: 15px;
}
@media (max-width: 768px) {
  .megamenu{
      margin-left: 0 ;
      margin-right: 0 ;
  }
  .megamenu> li {
      margin-bottom: 30px;
  }
  .megamenu> li:last-child {
      margin-bottom: 0;
  }
  .megamenu.dropdown-header {
      padding: 3px 15px !important;
  }
  .navbar-nav .open .dropdown-menu .dropdown-header{
	  color:#fff;
  }
}

/**************************************************************************************/
/* Angular UI-Bootstrap responsive navbar                                             */
/* (from https://github.com/andr3w321/angularjs-bootstrap3-responsive-navbar-example) */
/**************************************************************************************/
.header-placeholder {
    height: 50px;
}

@media (max-width: 767px) {
	.visible-xs.collapse.in {
		display: block!important;
	}
	.visible-xs.collapse {
		display: none!important;
	}
}

.navbar .collapse {
	border-top: 1px solid #e7e7e7;
	margin-left: -15px;
	margin-right: -15px;
	padding-right: 15px;
	padding-left: 15px;
}

.feature {
  width: 100%;
  height: 50px;
  border: 2px solid black;
  text-align: center;
}

.footer {
	width: 100%;
	height: 50px;
	margin: 0;
	background-color: #333;
	text-align: center;
	color: #fff;
}

.legal-links {
	list-style: none;
	margin: 0;
  padding: 0;
  text-align: center;
}
.legal-links > li {
	display: inline;
}
.legal-links > li> a {
  display: inline-block;
	color: #fff;
}