/*****************************************************************************/
/* Custom CSS for RelayHealth Patient Portal. October 2014 - by Patrick Ford */
/* Replaces rh-patientportal.css which, in turn, combined:                   */
/*   PatientPortal.css, style-v1.css, and styles-v1-fixed.ss                 */
/* Loaded after the customized bootstrap.css which is built from LESS files. */
/*****************************************************************************/
@charset "UTF-8";

/***************************/
/* Bootstrap.css overrides */
/***************************/

/* Use RelayHealth blue brand color for h1 headers */
h1, .h1 {
	color: #ff6600;
	font-weight: normal;
}
/* Use RelayHealth orange brand color for h2 headers */
h2, .h2 {
	color: #000;
}

h3, .h3, h4, .h4 {
	color: #000;
}

body {
	padding-top: 120px;
}

.brand-color {
	color: #70a8e0;
}

.grey-color {
	color: #666;
}

.alert-color {
	color: #cc0000;
}

.info-color {
	background-color: #ecf4fb;
}

/*.container {
	min-height: 600px;
}*/

a, a:link, a:visited {
	color: #003399;
	text-decoration: none;
}

/* Navbar customizations */
.navbar-nav li a {
	font-size: 14px;
	font-weight: 600;
}

.navbar-link {
	font-size: 14px;
	margin-top: 41.5px;
}

.provider-logo {
	max-height: 52px;
}

.poweredby-logo {
	max-height: 20px;
}

.home-element {
	text-align: center;
	padding: 20px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.navbar-home-selected {
	color: #000;
}

.home-icon-wrapper {
	height: 172px;
	width: 175px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.navbar-inner {
	z-index: 100;
}

.menu-select-triangle {
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid #fff;
	margin-top: -7px;
	display: block;
	margin-left: auto;
	margin-right: auto;	
	z-index: 9999;
}

.navbar-header > a.provider-logo-wrapper {
padding-top: 24px;
padding-bottom: 24px;
}

@media (min-width: 768px) {
  .navbar-nav > li > a.provider-logo-wrapper {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

/* Styling for tables. NOTE: REFACTOR INTO LESS FILES;
/* Use light grey background/border for table headers */
thead {
	background-color: #eee;
	border-color: #eee;
}

/* Close bottom of table header with border */
.table > thead > tr > th {
    border-bottom: 0;
}

/* Close bottom of tables with border */
.table > tbody > tr > td {
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #eee !important;
}

/**********************************/
/* End of Bootstrap.css overrides */
/**********************************/

/* Used in updatePrivacySettings */
hr.alt {
	margin-top: 10px;
	margin-bottom: 15px;
}

/* Health Records: Clinical Data: Meds & Allergies */
/* Right justify dropdown menu for Health Info records action button */
.med-actions .dropdown-menu {
	left: -185px;
	width: 210px;
}

.med-actions .dropdown-menu li a {
	white-space: normal;
}

.med-actions .dropdown-menu > li > a:hover {
	color: #fff;
	background-image: none;
	background-color: #5597da;
}

/* Health Records: Family & Social History */
/* Button colors */
.btn-no:hover {
	color: #fff;
	background: rgba(153, 204, 102, 0.5);
	border-color: #99cc66;
}
.btn-no:active, 
.btn-no.active {
	color: #fff;
	background: #99cc66;
	border-color: #99cc66;
}

.btn-yes:hover {
	color: #fff;
	background: rgba(255, 102, 0, 0.5);
	border-color: #ff6600;
}
.btn-yes:active, 
.btn-yes.active {
	color: #fff;
	background: #ff6600;
	border-color: #ff6600;
}

/* For Angular-UI Bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.brand-colorstrip {
	width: 100%;
}

/* Context label in condensed nav-bar */
#main-nav-label {
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	padding-left: 5px;
	color: white;
}

/* round badges - http://codeitdown.com/css-circles/ */
.round-badge-60 {
	width: 60px;
}
.round-badge-60:after {
	content: "";
	display: block;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	background: #fff;
	border: 1px solid #ccc;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.round-badge-60 div {
	color: #333;
	font-weight: bold;
	text-align: center;
	float: left;
	width: 100%;
	padding-top: 33%;
	line-height: 1.25em;
	margin-top: -0.5em;
}

.patient-select li a{
	color: #666;
}

/* Patient navbar */
#nav-patient, #nav-patient ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;    
    -ms-user-select: none;    
    -o-user-select: none;
}

#nav-patient-item {
    width: 99px;
}

#nav-patient-name {
    text-overflow: ellipsis;
    overflow: hidden;   
}

#nav-patient {
	background-color: #fff;
	float: left;
	position: relative;
	width: 100%;
	/*	border-radius: 3px 3px 0 0;
*/	margin: 15px 0 5px 0;
}

#nav-patient > li {
	float: left;
	text-align: center;
}

#nav-patient li a {
	display: block;
	text-decoration: none;
	white-space: nowrap;
	margin-left: -1px;
}

#nav-patient > li > a {
	color: #777;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 400;
	display: block;
	font-size: 13px;
	padding: .5em .6em;
	/*margin-right: .3em;*/
	background: #f5f5f5;
	border: 1px solid #eee;
	/*border-bottom: none;	border-radius: 3px 3px 0 0;
    */
}
#nav-patient > li:hover > a, #nav-patient > a:hover {
	color: #666;
	background: #eee;
	border: 1px solid #ddd;
}
#nav-patient li.active > a {
	background-color: /*#999;*/#9aca62;
	color: #fff;
	border: 1px solid #9aca62;
	  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .125);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, .125);
	/*border-bottom: none;	border-radius: 3px 3px 0 0;
*/}
#nav-patient li.active > a:hover {
	color: #eee;
	background: #5DA026;
	border: 1px solid #5DA026;
}

#nav-patient > li.disabled > a:hover,
#nav-patient > li.disabled > a:focus {
    color: #999;
    text-decoration: none;
    cursor: not-allowed;
    background-color: #eee;
}

#nav-add-member {
    margin-left: 10px;
}

#add-family {
    font-size: 12px;
}

/* Icon that shows availability of alternate view on phone devices based on orientation */
#rotate-phone {
	height: 25px;
	width: 25px;
}

.min-height-panel {
    min-height: 600px;
}

table.nonProduction {
    width: 800px;
	color: #666;
	margin: px 0 0;
}
table.nonProduction td {
	background-color: #eee;
	border-style: solid;
	border-color: #ccc;
	border-width: 0px 1px 1px 1px;
	color:#666;
	padding: 3px 0px 3px 5px;
	font-size: 9px;
}
table.nonProduction a:link {
	color: #666;
}

/*Password strength indicator*/
input.ng-pristine + ul#strength {
    display:none;
}
ul#strength {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:0;
    padding:0;
    vertical-align:2px;
}
.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}
.passwordStrengthMessage {
    color: #990000 !important;
}

/******************************************************/
/* TEMPORARY CSS - WILL BE REPLACED WHEN WE GO FULLY  */
/* RESPONSIVE AND BOOTSTRAP                           */
/******************************************************/
/*body {
	min-width: 800px;
	margin: 10px 0 15px 5px;
}
.container {
	width: 800px;
	max-width: none !important;
	margin-left: 0;
}*/

.min-height-panel {
    min-height: 600px;
}

/*.footer-container {
    width: 800px;
}*/

#footer p {
	font-size: 11px;
	line-height: 15px;
	color: #666;
	text-align: center;
}
#footer a {
	color: #666;
	text-decoration: underline;
}

/* sprites */
.add_icon {
	background: transparent url(../images/icons_sprite.png) no-repeat -90px -87px;
	padding-left: 13px;
}
.edit_icon {
	background: transparent url(../images/icons_sprite.png) no-repeat -86px -60px;
	padding-left: 16px
}


.sponsors {
	margin: 10px auto 10px auto;
	padding: 10px 0px 0px 0px;
	text-align: center;
	border-top: 1px solid #ddd;
}
.sponsors p {
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	font-weight: bold;
	font-size: 13px;
	text-align: center;
	color: #000066;
	width: 100%;
}
.sponsors img {
	margin: 0px 0px 0px 0px;
	padding: 0px 6px 0px 6px;
}

.notices {
	margin: 0px auto 0px auto;
	padding: 10px 40px 20px 40px;
	clear: both;
	background-color: #FFF; 
}
.notices p {
	text-align: center;
	margin: 6px 0px 6px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 10px !important;
	line-height: 1.3em;
	color: #666;
}
.notices a:link, 
.notices a:visited {
	color: #666;
	font-size: 11px !important;
	text-decoration: underline !important;
}

/* display error message styled in red */
.http-error-message {
    background-color: #fbbcb1;
    border: 0px #e92d0c solid;
    font-size: 12px;
    font-family: arial;
    padding: 10px;
    width: 100%;
    margin-bottom: 1px;
}

/******************************************************/
/* END OF TEMPORARY CSS                               */
/******************************************************/


/******************/
/* Helper Classes */
/******************/
.white-background {
	background-color: #ffffff;
}

.text-normal {
	font-weight: normal;
}

.section-divider {
	border-bottom: 1px solid #ddd;
	margin-top: 10px;
	margin-bottom: 10px;
}

.reduce-margin-top-5 {
	margin-top: -5px;
}
.remove-margin-top,
.remove-top-margin {
	margin-top: 0;
}
.remove-margin-bottom,
.remove-bottom-margin {
	margin-bottom: 0;
}

.add-radius {
	border-radius: 3px;
}

.add-border-right {
	border-right: 1px solid #ddd;
}

.add-border-left {
	border-left: 1px solid #ddd;
}

.add-border-bottom {
	border-bottom: 1px solid #ddd;
}
.add-margin-top-5,
.add-top-margin-5 {
	margin-top: 5px;
}
.add-margin-top-10,
.add-top-margin-10 {
	margin-top: 10px;
}
.add-margin-top-15,
.add-top-margin-15 {
	margin-top: 15px;
}
.add-margin-top-20,
.add-top-margin-20 {
	margin-top: 20px;
}
.add-margin-bottom-5,
.add-bottom-margin-5 {
	margin-bottom: 5px;
}
.add-margin-bottom-10,
.add-bottom-margin-10 {
	margin-bottom: 10px;
}
.add-margin-bottom-15,
.add-bottom-margin-15 {
	margin-bottom: 15px;
}

.add-margin-right-10 {
	margin-right: 10px;
}
.add-margin-left-10 {
	margin-left: 10px;
}
.add-padding-right-10 {
	padding-right: 10px;
}
.add-padding-left-10 {
	padding-left: 10px;
}
.add-padding-left-20 {
	padding-left: 20px;
}
.add-padding-left-30 {
	padding-left: 30px;
}
.remove-side-padding {
	padding-left: 0;
	padding-right: 0;
}
.remove-left-padding {
	padding-left: 0;
}
.remove-right-padding {
	padding-right: 0;
}

.unselectable {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	cursor: default;
}

.go-back {
	margin: 20px 0;
}

.fa-1-3x {
	font-size: 1.3em;
}

.fa-1-5x {
	font-size: 1.5em;
}


/*************************/
/* End of Helper Classes */
/*************************/

/* Use hand pointer cursor for active controls */
.sortable, .master-drug-icon, .input-group-addon, .selectable{
	cursor: pointer;
}

/**************************************************/
/* Conditional display of elements                */
/**************************************************/
@media screen {
	.print-only {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.brand-logo {
		height: 34px;
		width: 150px;
	}
	.brand-colorstrip {
		display: none;
	}
	.phone-no {
		display: none !important;
	}
}

@media screen and (min-width: 768px) {
	#main-nav-label {
		display: none;
	}
	.navbar-brand {
		display: none;
	}
	.phone-yes {
		display: none !important;
	}
	/* Adds vertical line separator on Health Info mega menu */
	.border-right {
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #e5e5e5;
	}
}

/* Conditional display of elements based on phone orientation */
@media screen and (max-width: 414px) and (orientation: portrait) {
	.landscape-only {
		display: none;
	}
}

@media screen and (min-width: 415px) and (orientation: landscape) {
	.portrait-only {
		display: none;
	}
}

/*******************************************************************/
/* Mega Menu Classes                                               */
/* Added for Mega Menu (from jsfiddle.net/apougher/ydcMQ/ example) */
/*******************************************************************/
.menu-large {
/*	position: static !important;
*/
	position: relative !important;
}

.megamenu{
	padding: 15px 0px;
  	width: 560px;
}
.megamenu> li > ul {
  	padding: 0;
  	margin: 0;
}
.megamenu> li > ul > li {
  	list-style: none;
}
.megamenu> li > ul > li > a {
  	display: block;
  	padding: 3px 15px;
  	clear: both;
  	font-weight: normal;
  	line-height: 1.428571429;
  	color: #333333;
  	white-space: normal;
}
.megamenu> li ul > li > a:hover,
.megamenu> li ul > li > a:focus {
  	text-decoration: none;
  	color: #262626;
  	background-color: #f5f5f5;
}
.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  	color: #999999;
}
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  	text-decoration: none;
  	background-color: transparent;
  	background-image: none;
  	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  	cursor: not-allowed;
}
.megamenu .dropdown-header {
  	color: #428bca;
  	font-size: 16px;
  	font-weight: bold;
  	padding-left: 15px;
}
@media (max-width: 768px) {
  .megamenu{
      margin-left: 0 ;
      margin-right: 0 ;
  }
  .megamenu> li {
      margin-bottom: 30px;
  }
  .megamenu> li:last-child {
      margin-bottom: 0;
  }
  .megamenu.dropdown-header {
      padding: 3px 15px !important;
  }
  .navbar-nav .open .dropdown-menu .dropdown-header{
	  color:#fff;
  }
}

/**************************************************************************************/
/* Angular UI-Bootstrap responsive navbar                                             */
/* (from https://github.com/andr3w321/angularjs-bootstrap3-responsive-navbar-example) */
/**************************************************************************************/
.header-placeholder {
    height: 50px;
}

@media (max-width: 767px) {
	.visible-xs.collapse.in {
		display: block!important;
	}
	.visible-xs.collapse {
		display: none!important;
	}
}

.navbar .collapse {
	border-top: 1px solid #e7e7e7;
	margin-left: -15px;
	margin-right: -15px;
	padding-right: 15px;
	padding-left: 15px;
}

/**************************************************************************************/
/* Message Center                                                                     */
/**************************************************************************************/
.action-pane-wrapper {
	border-bottom: 1px solid #d3d3d3;	
	padding-left: 0;
	padding-right: 0;
	height: auto;
}

.action-header {
	padding-left: 0;
	padding-right: 0;
}

.action-pane {
	padding-left: 10px;
	padding-right: 10px;	
}

.btn-compose {
	background-color: #ef8200;
	color: #fff;
}

.message-folder {
	color: #444;
	font-size: 13px;
	line-height: 2.5em;
}

.message-folders {
	list-style: none;
	padding-left: 0;
}

.message-folder > .fa-user-md {
	font-size: 1.2em;
}

.message-folder:hover {
	cursor: pointer;
}

.message-folder.active {
	font-weight: bold;
	color: #000;
}

.preview-pane-wrapper {
	border-left: 1px solid #d3d3d3;
	border-right: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;	
	height: 80vh;
	padding-left: 0;
	padding-right: 0;
	position: relative;
}

.preview-pane {
	max-height: 100%;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	overflow-y: auto;
	position: absolute;
	top: 45px;
	bottom: 40px;
}

.preview-message-body {
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow: hidden;
	max-height: 3em;
	line-height: 1.5em;
}

.preview-message:hover {
	background-color: #f5f5f5;
}

.preview-message.active {
	background-color: #e5f0e7;
}

.preview-control {
	line-height: 45px;
	margin-left: 10px;
	margin-right: 15px;	
	color: #444;
	font-size: 13px;
}

.preview-footer {
	border-top: 1px solid #d3d3d3;
	height: 40px;
	width: 100%;	
	position: absolute;
	bottom: 0;
}

.patient-selector, .sort-selector {
	background-color: #eee;
	border: none;
	margin-top: 12px;
}

.provider-selector {
	border: none;
}

.detail-pane-wrapper {
	border-bottom: 1px solid #d3d3d3;	
	height: 80vh;
	padding-left: 0;
	padding-right: 0;
	position: relative;
}

.detail-control {
	border-right: 1px solid #d3d3d3;	
	display: inline-block;
	text-align: center;
	line-height: 45px;
	width: 45px;
}

.detail-control > a {
	color: #000;
}

.search-control {
	line-height: 1.5em;
	width: auto;
	margin-top: 12px;
}

.detail-control:hover {
	cursor: pointer;
}

.detail-pane {
	max-height: 100%;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	bottom: 0;
	top: 45px;
}

.detail-subject {
	font-size: 2em;
}

.detail-reply {
	border: 1px solid #d3d3d3;	
	margin: 10px;
	min-height: 100px;
}

.detail-display textarea {
	width: 100%;
	min-height: 150px;
	resize: none;
}

.detail-pane > .inactive {
	display: none;
}

.message-control {
	height: 45px;
	background-color: #eee;
	margin: 0 0 20px 0;
	padding: 0;
}

.unread-message {
	font-weight: bold;
}

.compose-control-bar, .compose-patient-bar, .compose-provider-bar {
	border-bottom: 1px solid #d3d3d3;	
	display: inline-block;
	line-height: 45px;
	height: 45px;
	width: 100%;
}

.compose-control-bar {
	text-align: center;	
}

.compose-subject {
	font-size: 1.5em;
}

.compose-control {
	border-left: 1px solid #d3d3d3;	
	display: inline-block;
	text-align: center;
	line-height: 45px;
	width: 45px;
	color: #444;
}	

.compose-control:hover {
	cursor: pointer;
}

.compose-patient-bar > .patient-selector {
	background-color: #fff;
}

.message-label {
	font-family: 'Open Sans Light', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
}

.message-label-time {
	line-height: 2.5em;
}

.thread-header {
	background-color: #f5f5f5;
	height: 32px;
	line-height: 32px;
	font-size: 10px;
}

.thread-message-body-collapse, .compose-subject {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.thread-collapse-bar {
	font-size: 10px;
	cursor: pointer;
}

.footer {
	width: 100%;
	height: 250px;
	margin: 0;
	background-color: #333;
	text-align: center;
	color: #fff;
}

.powered-by {
	margin-top: 30px;
	color: #ccc;
}

.legal-links {
	list-style: none;
	margin-top: 100px;
}

.legal-links > li {
	display: inline;
}

.legal-links > li> a {
	color: #fff;
}