
<div class="row">
  <section class="col-xs-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-newspaper"></span>News</h3>
      </div>
      <div class="panel-body">
        And now... the news!
      </div>
    </div>
  </section>
</div>

<div class="row">
  <section class="col-xs-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-newspaper"></span>News</h3>
      </div>
      <div class="panel-body">
        And now... the news!
      </div>
    </div>
  </section>
</div>

<div class="row">
  <section class="col-sm-3 col-xs-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-newspaper"></span>Your Issues</h3>
      </div>
      <div class="panel-body">
        <ul class="issues">
          <li><a><span class="fa fa-venus-mars">&nbsp;</span>Gender Equality</a></li>
          <li><a><span class="fa fa-university">&nbsp;</span>Education</a></li>
          <li><a><span class="fa fa-money">&nbsp;</span>The Economy</a></li>
          <li><a><span class="fa fa-medkit">&nbsp;</span>Health Care</a></li>
          <li><a><span class="fa fa-rocket">&nbsp;</span>Space Exploration</a></li>
        <ul>
      </div>
    </div>
  </section>
  <div class="col-sm-9 col-xs-12">
    <section class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-newspaper"></span>Bills and Votes</h3>
      </div>
      <div class="panel-body">
        Key Bills
      </div>
    </section>
  </div>
</div>