
<div class="row dashboard-header">
  <a class="navbar-brand" href="#"><img src="img/logo.png" width="170" height="110" id="logo"></a>
</div>

<div class="row add-margin-top-20">
  <div class="col-sm-4">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-newspaper"></span>Profile</h3>
      </div>
      <div class="panel-body">
        And now... the news!
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-newspaper"></span>Representatives Tweets</h3>
      </div>
      <div class="panel-body">

        <img class="tweet-pic" src="img/sen-feinstein.jpg">      
        <a class="twitter-timeline" href="https://twitter.com/SenFeinstein" data-widget-id="589869278444191744">Tweets by @SenFeinstein</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        <br>

        <img class="tweet-pic" src="img/rep-lofgren.jpg">      
        <a class="twitter-timeline" href="https://twitter.com/RepZoeLofgren" data-widget-id="589869278444191744">Tweets by @RepZoeLofgren</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      </div>
    </div>

  </div>

  <div class="col-sm-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-newspaper"></span>Latest News</h3>
      </div>
      <div class="panel-body">
        <a href="http://www.politico.com/story/2015/04/greens-face-divide-over-hillary-clinton-and-keystone-117108.html?hp=lc2_4">
          <h4>Greens divided over Hillary Clinton and Keystone</h4>
        </a>
        <p>Hillary Clinton is maintaining her years of silence on the Keystone XL pipeline — and environmental groups are increasingly divided on how hard they should push her to take a stand...</p>

        <a href="http://www.politico.com/story/2015/04/gop-contenders-tangle-in-new-hampshire-117112.html?hp=rc1_4">
          <h4>GOP contenders tangle in New Hampshire</h4>
        </a>
          <p>None of the 19 declared or likely Republican presidential candidates who descended on New Hampshire this weekend for the state’s first big GOP cattle call event came away with any sort of breakthrough moment...</p>

        <a href="http://www.politico.com/story/2015/04/court-chilly-to-obama-immigration-moves-117104.html?hp=rc3_4">
          <h4>Court chilly to Barack Obama immigration moves</h4>
        </a>
        <p>A federal appeals court signaled Friday that it is unlikely to allow President Barack Obama’s request to go ahead with a new round of relief for illegal immigrants, making it likely that the White House will have to take its legal case to the Supreme Court within days...</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><span class="fa fa-newspaper"></span>Bills and Votes</h3>
          </div>
          <div class="panel-body">
            <h3>Upcoming Votes This Week</h3>
            <h4>Senate:</h4>
            <p>183: Immigration Advisory Board Act 2015
                <span class="pull-right">4/23&nbsp;<span class="fa fa-globe"></span></span>
            </p>
            <h4>House:</h4>
            <p>1197: Future Consumer Economic Saction Act
              <span class="pull-right">4/45&nbsp;<span class="fa fa-money"></span></span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6"> 
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><span class="fa fa-newspaper"></span>Your Issues</h3>
          </div>
          <div class="panel-body">
            <ul class="issues">
              <li><a><span class="fa fa-venus-mars fa-2x">&nbsp;</span>Gender Equality</a></li>
              <li><a><span class="fa fa-university fa-2x">&nbsp;</span>Education</a></li>
              <li><a><span class="fa fa-money fa-2x">&nbsp;</span>The Economy</a></li>
              <li><a><span class="fa fa-medkit fa-2x">&nbsp;</span>Health Care</a></li>
              <li><a><span class="fa fa-rocket fa-2x">&nbsp;</span>Space Exploration</a></li>
            <ul>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>