
<div class="row dashboard-header">
  <a class="navbar-brand" href="#"><img src="img/logo.png" width="170" height="110" id="logo"></a>
</div>

<div class="row add-margin-top-20">
  <div class="col-sm-4">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-newspaper"></span>Profile</h3>
      </div>
      <div class="panel-body">
        And now... the news!
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-newspaper"></span>Representatives Tweets</h3>
      </div>
      <div class="panel-body">
        And now... the news!
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-newspaper"></span>Your Issues</h3>
      </div>
      <div class="panel-body">
        <ul class="issues">
          <li><a><span class="fa fa-venus-mars fa-2X">&nbsp;</span>Gender Equality</a></li>
          <li><a><span class="fa fa-university">&nbsp;</span>Education</a></li>
          <li><a><span class="fa fa-money">&nbsp;</span>The Economy</a></li>
          <li><a><span class="fa fa-medkit">&nbsp;</span>Health Care</a></li>
          <li><a><span class="fa fa-rocket">&nbsp;</span>Space Exploration</a></li>
        <ul>
      </div>
    </div>
  </div>

  <div class="col-sm-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-newspaper"></span>Bills and Votes</h3>
      </div>
      <div class="panel-body">
        News
      </div>
    </div>

     <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-newspaper"></span>Bills and Votes</h3>
      </div>
      <div class="panel-body">
        Tracked Bills
      </div>
    </div>   
  </div>

</div>