<footer class="row footer">
  <div>
    <ul class="legal-links">
      <li><a href="#" translate>About Us</a><span>&nbsp;|</span></li>
      <li><a href="#" translate>Support</a><span>&nbsp;|</span></li>
      <li><a href="#" translate>Contact</a><span>&nbsp;|</span></li>
      <li><a href="#" translate>Legal</a><span>&nbsp;|</span></li>
      <li><a href="#" translate>Terms</a><span>&nbsp;|</span></li>
      <li><a href="#" translate>Privacy</a><span>&nbsp;|</span></li>
      <li><a href="#" translate>Security</a><span>&nbsp;|</span></li>
      <li><a href="#" translate><span>&nbsp;&copy;</span>2015 I'm Power</a></li>
    </ul>
  </div>
</footer> <!-- row -->
