<!-- Copyright © 2015 I'm Power. All Rights Reserved. --> 

<!-- Primary navigation bar -->

<nav class="navbar navbar-default navbar-fixed-top" id="nav-bar">
		<div class="navbar-header" id="nav-bar">
		<a class="navbar-brand" href="#"></a>
		<button class="navbar-toggle" data-toggle = "collapse" data-target =".navHeaderCollapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
		</button>
			<!--<img src="img/logo.png" width="40" height="40">-->
		<div class="collapse navbar-collapse navHeaderCollapse">
					<ul class="nav navbar-nav navbar-right">
						<li><button class="btn btn-info pull-right" id="nav-button-first">Register</button></li>
						<li><button class="btn btn-info pull-right" id="nav-button">Sign In</button></li>
					</ul>
		</div>							
		</div>
</nav>
