<div class="row">
  <img src="img/congress.png" class="img-responsive main-img" alt="Congress">
</div>

<div class="row">
  <div class="feature col-xs-12 col-sm-4">
    <!--<p class="fa fa-users fa-3x"><p>-->
    <img src="img/mission.png" width="60" height="60"> 
    <h2>MISSION</h2>
    <!--<p>IMPOWER is dedicated to providing citizens with the objextive information they need to make educated voting decisions.</p>-->
    <p class="description">Our mission is to provide citizens with valuable information so they're educated to make voting decision.</p>
  </div>
  <div class="feature col-xs-12 col-sm-4">
    <!--<p class="fa fa-thumbs-o-up fa-3x"><p>--> 
    <img src="img/engage.png" width="60" height="60"> 
    <h2>ENGAGE</h2>
    <p class="description">Learn and find out about bills that matter to you; learn how your polictians affects and represents you.</p>
    <!--<p>Find out what bills and policies are going to affect your life, and how well your politians are representing you.</p>-->
  </div>  
  <div class="feature col-xs-12 col-sm-4">
    <!--<p class="fa fa-bolt fa-3x"><p> -->
    <img src="img/represent.png" width="60" height="60"> 
    <h2>REPRESENT</h2>       
    <!--<p>Mobilize against the policies that will negatively affect you and campaign for those that will bring positive change to your community.</p>-->
    <p class="description">Mobilize against policies that negatively affect you. Campaign for those that bring positive change to your community.</p>
  </div>
</div>

<div class="row">
  <div class="get-mobile col-xs-12 col-sm-6">
  </div>
</div>