<div class="row">
  <img src="img/head1.jpg" class="img-responsive main-img" alt="Congress">
</div>

<div class="row">
  <div class="feature col-xs-12 col-sm-4">
    <p class="fa fa-users fa-3x"><p>
    <h2>Engage</h2>
    <p>ImPower is dedicated to providing citizens with the objective information they need to make educated voting decisions.</p>
  </div>
  <div class="feature col-xs-12 col-sm-4">
    <p class="fa fa-thumbs-o-up fa-3x"><p>     
    <h2>Learn</h2>
    <p>Find out what bills and policies are going to affect your life, and how well your politians are representing you.</p>
  </div>  
  <div class="feature col-xs-12 col-sm-4">
    <p class="fa fa-bolt fa-3x"><p> 
    <h2>Activate</h2>       
    <p>Mobilize against the policies that will negatively affect you and campaign for those that will bring positive change to your community.</p>
  </div>
</div>

<div class="row">
  <div class="get-mobile col-xs-12 col-sm-6">
  </div>
</div>