<div class="panel panel-primary unselectable add-margin-top-15" >
  <div class="panel-heading">
    <h3 class="panel-title">UI Explorations</h3>
  </div>

  <div class="panel-body">
    <p>This site contains a mock up of some responsive design user interface explorations for the RelayHealth app.  As this is a work-in-progress expect some minor glitches that will be cleaned up before release.</p>
    <p>Try out the following:<p>
    <ul>
      <li>Menus - Icon at top right</li>
      <li>Tables - Health Info - Clinical Data</li>
      <li>Forms - Profile</li>
    </ul>
    <p><small>The information displayed is not linked to any active account and is for layout testing only.</small></p>
  </div> <!-- panel-body -->
<div> <!-- panel -->
